In [1]:
import pandas as pd

df = pd.read_csv('timing.csv', names=['source', 'start', 'end'])
df

          source         start           end
0    10.186.2.11  1.715627e+09  1.715627e+09
1    10.186.2.11  1.715628e+09  1.715628e+09
2    10.186.2.11  1.715629e+09  1.715629e+09
3    10.186.2.11  1.715630e+09  1.715630e+09
4    10.186.2.11  1.715631e+09  1.715631e+09
..           ...           ...           ...
195  10.186.2.16  1.715911e+09  1.715911e+09
196  10.186.2.16  1.715912e+09  1.715912e+09
197  10.186.2.16  1.715913e+09  1.715913e+09
198  10.186.2.16  1.715913e+09  1.715913e+09
199  10.186.2.16  1.715914e+09  1.715914e+09

[200 rows x 3 columns]

In [2]:
df['delta'] = df['end'] - df['start']
df

          source         start           end     delta
0    10.186.2.11  1.715627e+09  1.715627e+09  1.017344
1    10.186.2.11  1.715628e+09  1.715628e+09  0.789153
2    10.186.2.11  1.715629e+09  1.715629e+09  0.612667
3    10.186.2.11  1.715630e+09  1.715630e+09  0.520013
4    10.186.2.11  1.715631e+09  1.715631e+09  1.368494
..           ...           ...           ...       ...
195  10.186.2.16  1.715911e+09  1.715911e+09  2.139779
196  10.186.2.16  1.715912e+09  1.715912e+09  2.057363
197  10.186.2.16  1.715913e+09  1.715913e+09  2.084494
198  10.186.2.16  1.715913e+09  1.715913e+09  1.670497
199  10.186.2.16  1.715914e+09  1.715914e+09  1.490362

[200 rows x 4 columns]

In [3]:
from scipy.stats import shapiro

PNode1

Normality test

In [4]:
stat, p = shapiro(df[df['source'] == '10.186.2.11']['delta'])
alpha = 0.05
if p > alpha:
    print(f"Normal,", f"Stat={stat}, p-value={p}")
else:
    print(f"Non-normal,", f"Stat={stat}, p-value={p}")

Non-normal, Stat=0.9534785747528076, p-value=0.0014163401210680604

In [5]:
print(len(df[df['source'] == '10.186.2.11']))
print("Std", df[df['source'] == '10.186.2.11']['delta'].std())
print("Central tendency", df[df['source'] == '10.186.2.11']['delta'].median())
print("Max", df[df['source'] == '10.186.2.11']['delta'].max())

100
Std 0.31170157270230014
Central tendency 1.0263820886611938
Max 1.7167174816131592

PNode2

Normality test

In [6]:
stat, p = shapiro(df[df['source'] == '10.186.2.16']['delta'])
alpha = 0.05
if p > alpha:
    print(f"Normal,", f"Stat={stat}, p-value={p}")
else:
    print(f"Non-normal,", f"Stat={stat}, p-value={p}")

Non-normal, Stat=0.9623804092407227, p-value=0.005965501070022583

In [7]:
print(len(df[df['source'] == '10.186.2.16']))
print("Std", df[df['source'] == '10.186.2.16']['delta'].std())
print("Central tendency", df[df['source'] == '10.186.2.16']['delta'].median())
print("Max", df[df['source'] == '10.186.2.16']['delta'].max())

100
Std 0.33796996315977196
Central tendency 1.733957052230835
Max 2.7921299934387207