In [1]:
import pandas as pd

df = pd.read_csv('data.csv', names=['source', 'start', 'end'])
df

          source         start           end
0    10.186.2.11  1.715627e+09  1.715627e+09
1    10.186.2.11  1.715628e+09  1.715628e+09
2    10.186.2.11  1.715629e+09  1.715629e+09
3    10.186.2.11  1.715630e+09  1.715630e+09
4    10.186.2.11  1.715631e+09  1.715631e+09
..           ...           ...           ...
195  10.186.2.16  1.715911e+09  1.715911e+09
196  10.186.2.16  1.715912e+09  1.715912e+09
197  10.186.2.16  1.715913e+09  1.715913e+09
198  10.186.2.16  1.715913e+09  1.715913e+09
199  10.186.2.16  1.715914e+09  1.715914e+09

[200 rows x 3 columns]

In [2]:
df['delta'] = df['end'] - df['start']
df

          source         start           end     delta
0    10.186.2.11  1.715627e+09  1.715627e+09  1.017344
1    10.186.2.11  1.715628e+09  1.715628e+09  0.789153
2    10.186.2.11  1.715629e+09  1.715629e+09  0.612667
3    10.186.2.11  1.715630e+09  1.715630e+09  0.520013
4    10.186.2.11  1.715631e+09  1.715631e+09  1.368494
..           ...           ...           ...       ...
195  10.186.2.16  1.715911e+09  1.715911e+09  2.139779
196  10.186.2.16  1.715912e+09  1.715912e+09  2.057363
197  10.186.2.16  1.715913e+09  1.715913e+09  2.084494
198  10.186.2.16  1.715913e+09  1.715913e+09  1.670497
199  10.186.2.16  1.715914e+09  1.715914e+09  1.490362

[200 rows x 4 columns]

Total

In [3]:
print(len(df))
print("Std", df['delta'].std())
print("Mean", df['delta'].mean())
print("Max", df['delta'].max())

200
Std 0.49386410432648803
Mean 1.3850306868553162
Max 2.7921299934387207

Computer 1

In [4]:
print(len(df[df['source'] == '10.186.2.11']))
print("Std", df[df['source'] == '10.186.2.11']['delta'].std())
print("Mean", df[df['source'] == '10.186.2.11']['delta'].mean())
print("Max", df[df['source'] == '10.186.2.11']['delta'].max())

100
Std 0.31170157270230014
Mean 1.0134820771217345
Max 1.7167174816131592

Computer 2

In [5]:
print(len(df[df['source'] == '10.186.2.16']))
print("Std", df[df['source'] == '10.186.2.16']['delta'].std())
print("Mean", df[df['source'] == '10.186.2.16']['delta'].mean())
print("Max", df[df['source'] == '10.186.2.16']['delta'].max())

100
Std 0.33796996315977196
Mean 1.7565792965888978
Max 2.7921299934387207